Package: blackstar
Name: Avya
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: blackstar
Author: blackstar
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
