Package: blackstar
Name: Avya
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: blackstar
Author: blackstar
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.1-23+debug
Installed-Size: 320
