Package: blackstar
Name: Avya
Architecture: iphoneos-arm
Description: ***Requires Activator*** The ultimate notification banners hiding tweak.Disabling notifications for any app in a gesture!
Maintainer: blackstar
Author: blackstar
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 1.1-17+debug
Installed-Size: 336
