<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>must be on to enable the tweak!</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.blackstar.AvyaPre</string>
			<key>key</key>
			<string>status</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>cell</key>
  			<string>PSButtonCell</string>
  			<key>label</key>
  			<string>Follow Me! (@BStar_dev)</string>
			<key>action</key>
			<string>openTwitter</string>
		</dict>
		<dict>
			<key>cell</key>
  			<string>PSButtonCell</string>
  			<key>label</key>
  			<string>Project Github</string>
			<key>action</key>
			<string>openGithub</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Made with ❤️ For support dm on Twitter! (v1.0.2)</string>
		</dict>
	</array>
	<key>title</key>
	<string>Avya</string>
</dict>
</plist>